
<form class="container">
    <fieldset class="form-group">
        <h2> Create a new Event </h2>
    </fieldset>
    <hr />
    <fieldset class="form-group">
        <label> Location: </label>
        <input type="text" class="form-control" ng-model="address" placeholder="Address. Eg. 2450 Aurora Ave N, WA 98109" />
    </fieldset>
    <hr />
    <fieldset class="form-group">
        <label> Name of Event: </label>
        <input type="text" class="form-control" ng-model="nameOfEvent" placeHolder="Eg. Fred's Birthday" />
    </fieldset>
    <hr />
    <fieldset class="form-group">
        <label> Involving ... </label>
        <select class="form-control" ng-model="visibility">
            <option value="close"> Close Friends </option>
            <option value="friends"> Friends </option>
            <option value="family"> Family </option>
            <option value="others"> Others </option>
            <option value="public"> Public</option>
        </select>
    </fieldset>
    <hr />
    <fieldset class="form-group">
        <label> Type of event is ...</label>
        <select class="form-control" ng-model="etype">
            <option value="positive"> Positive Atmosphere / Party </option>
            <option value="neutral"> Announcement / Notice </option>
            <option value="negative"> Negative Atmosphere </option>
        </select>
    </fieldset>
    <hr />
    <fieldset class="form-group">
        <label> Duration of event: </label>
        <input type="text" class="form-control" ng-model="duration" placeholder="Eg. 0.5" />
        <small class="text-muted"> In hours </small>
    </fieldset>
    <hr />
    <ieldset class="form-group">
        <input type="button" class="btn btn-primary" ng-click="createNewEvent()" value="Create Event" />
    </fieldset>
    <hr />
</form>